/* game.css의 담당 역할: 게임 보드 스타일 담당 */

#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgb(50, 5, 87);
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

#game-over h2 {
  /* game-over라는 id선택자에 속한, h2태그?에 스타일 적용 */
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: rgb(50, 5, 87);
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  /*  grid-template-columns: repeat(3, 6rem); 관련 정리
  1. grid-template-columns: 6rem 6rem 6rem;과 동일한 의미이다. 
  2. grid-template-columns: 6rem 6rem 6rem;는 너비(가로)가 각각 6rem인 세 개의 열(three columns)을 추가함을 의미한다. */
  /* 참고: 
  row: 행(가로, 위에서 아래)
  column: 열(세로, 왼쪽에서 오른쪽) */
  grid-template-rows: repeat(3, 6rem);
  /* grid-template-rows: repeat(3, 6rem); 관련 정리
  1. 높이가 각각 6rem인 세 개의 행(세로)을 추가함을 의미한다. */
  justify-content: center;
  gap: 0.5rem;
  /* gap: (https://developer.mozilla.org/ko/docs/Web/CSS/gap#%EA%B5%AC%EB%AC%B8)
  css속성. 행과 열 사이의 간격을 설정한다. 다시 말해 셀 사이간의 간격을 설정한다.
  여기서는 0.5rem을 간격으로 추가했음을 의미한다. */
}

#game-board li {
  background-color: rgb(215, 187, 247);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: rgb(112, 13, 204);
}

#game-board li.disabled {
  /* game-over라는 id선택자에 속한, li태그?중, disabled라는 id를 가진 요소에 스타일 적용 */
  background-color: rgb(112, 13, 204);
  color: white;
  cursor: default;
}

/* 
Q: 왜 아래로는 적용되지 않을까?
.disabled {
  background-color: rgb(112, 13, 204);
  color: white;
  cursor: default;
}
A: 
disabled라는 클래스는 game.js에서 아래 코드를 통해 추가되었다.
event.target.classList.add("disabled");
html 파일에서 추가된 곳을 확인해 보면 다음과 같다. li요소에 disabled라는 클래스가 추가되는 것이다.
<ol id="game-board">
  <li></li>
  <li></li>
  ...
*/
