/* 
overlay.css의 담당 역할: 오직 오버레이 관련 스타일만 담당
overlay('오버레이'): 화면 위에 덮어쓰는 유형들 (한마디로 모달!)
*/

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50%-20rem);
    width: 40rem;
  }
}
